html,
body {
    height: 100%;
}
.header {
    width: 100%;
    height: 110px;
    background-image: url('/imgs/background.jpg');
    background-size: cover;
}
nav ul {
    width: 100%;
    background-color: #1369C0;
    height: 39px;
    line-height: 39px;
}
nav li {
    list-style: none;
    display: inline-block;
    color: white;
    padding: 0 10px;
}
nav li:hover {
    background: #135DBC;
    text-decoration: none;
}